In [94]:
import csv
from openpyxl import Workbook

In [95]:
wb1 = Workbook()
ws1 = wb1.active


things = ['1','2','3','4','5','6','7','8']

for thing in things: 
    wb = Workbook()
    ws = wb.active
    with open('DailyItemModified.2017-0'+thing+'.csv', 'r') as f:
        for row in csv.reader(f):
            ws.append(row)
    wb.save('Modified'+thing+'.xlsx')

In [96]:
import pandas as pd

df1 = pd.read_excel("Modified1.xlsx")
df1.insert(0, 'Month', '012017')
df2 = pd.read_excel("Modified2.xlsx")
df2.insert(0, 'Month', '022017')
df3 = pd.read_excel("Modified3.xlsx")
df3.insert(0, 'Month', '032017')
df4 = pd.read_excel("Modified4.xlsx")
df4.insert(0, 'Month', '042017')
df5 = pd.read_excel("Modified5.xlsx")
df5.insert(0, 'Month', '052017')
df6 = pd.read_excel("Modified6.xlsx")
df6.insert(0, 'Month', '062017')
df7 = pd.read_excel("Modified7.xlsx")
df7.insert(0, 'Month', '072017')
df8 = pd.read_excel("Modified8.xlsx")
df8.insert(0, 'Month', '082017')

In [97]:
df = pd.concat([df4,df3,df2])

In [98]:
df1=df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
df2=df2.loc[:, ~df2.columns.str.contains('^Unnamed')]
df3=df3.loc[:, ~df3.columns.str.contains('^Unnamed')]
df4=df4.loc[:, ~df4.columns.str.contains('^Unnamed')]
df5=df5.loc[:, ~df5.columns.str.contains('^Unnamed')]
df6=df6.loc[:, ~df6.columns.str.contains('^Unnamed')]
df7=df7.loc[:, ~df7.columns.str.contains('^Unnamed')]
df8=df8.loc[:, ~df8.columns.str.contains('^Unnamed')]
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [99]:
df

       Month Item Number Error
0     012017      UT6961   NaN
1     012017      KW5663   NaN
2     012017      UT7173   NaN
3     012017      UR5765   NaN
4     012017      GR5891   NaN
5     012017      ET7070   NaN
6     012017      PA6123   NaN
7     012017      UT3948   NaN
8     012017      DJ4667   NaN
9     012017      UT7172   NaN
10    012017      UT1992   NaN
11    012017      UT1985   NaN
12    012017      UP5056   NaN
13    012017      EJ4906   NaN
14    012017      PM8387   NaN
15    012017      MH9491   NaN
16    012017      UR5764   NaN
17    012017      BV8591   NaN
18    012017      UT7080   NaN
19    012017      UM2986   NaN
20    012017      KW5665   NaN
21    012017      GP6391   NaN
22    012017      RM3972   NaN
23    012017      UT7174   NaN
24    012017      RQ1730   NaN
25    012017      QT3702   NaN
26    012017      NH5281   NaN
27    012017      NB8364   NaN
28    012017      GN5407   NaN
29    012017      NH1794   NaN
...      ...         ...   ...
1058  082017      UP7657   NaN
1059  082017      RB8112   NaN
1060  082017      NH1808   NaN
1061  082017      UY1791   NaN
1062  082017      UT3633   NaN
1063  082017      UN2054   NaN
1064  082017      UB6242   NaN
1065  082017      UX9723   NaN
1066  082017      NH5360   NaN
1067  082017      RU1498   NaN
1068  082017      MJ1765   NaN
1069  082017      FH0632   NaN
1070  082017      UY1793   NaN
1071  082017      DV2447   NaN
1072  082017      NH5280   NaN
1073  082017      UP7612   NaN
1074  082017      UT1783   NaN
1075  082017      UY0108   NaN
1076  082017      RC3148   NaN
1077  082017      UV4552   NaN
1078  082017      RB8154   NaN
1079  082017      UU9337   NaN
1080  082017      UY3564   NaN
1081  082017      UY3563   NaN
1082  082017      RB3251   NaN
1083  082017      KG3367   NaN
1084  082017      UY3194   NaN
1085  082017      UY1349   NaN
1086  082017      UG0477   NaN
1087  082017      NH1782   NaN

[38217 rows x 3 columns]

In [101]:
df.to_csv("dfModifed.csv", index = False)